body {
    margin: 0;
    padding: 0;
    overflow: visible;
  }
  
  .burger-icon {
    cursor: pointer;
  }
  
  .bar {
    height: 3px;
    width: 25px;
    background-color: red;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(112, 61, 61, 0.5);
    display: none;
    z-index: 1;
  }
  
  .show {
    transform: translateX(0);
  }
  
  .mobile-menu {
    list-style: none;
    padding: 20px;
    background-color: #d21d2f;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 250px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }
  
  .mobile-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
  .navbar {
    margin-bottom: 0 !important;
  }
  
  .navbaris {
    background-image: linear-gradient(to right top, #c7aeb6, #3b98e4, #db5f2e, #4166e2, #e72828) !important;
    height: 7rem !important;
  }
  
  .backi {
    background-image: linear-gradient(to right top, #f7b4ca, #1e5cad, #43dfbd, #b8ce67, #ceaaf3) !important;
    height: 7rem !important;
    display: flex;
    align-items: center;
  }
  
  .child-4 {
    margin-top: 200px;
    padding: 0 14% 11rem;
    top: -90px;
    z-index: 3;
    background-size: cover;
  }
  
  .logo {
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logo:hover {
    color: white;
  }
  
  .navbar-toggler,
  .navbar-toggler-icon,
  .nav-link {
    color: rgb(247, 247, 252) !important;
  }
  
  .custom-button-class {
    border: 2px solid #c43232;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: #eb7474;
  }
  
  .sidenav .closebtn {
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    padding: 16px;
  }
  
  .hamburger {
    font-size: 20px;
    cursor: pointer;
    color: white;
  }
  
  .ripple {
    width: 100%;
    background: linear-gradient(to right top, #9e1e48, #ad1e79, #ad1ea1, #b226d8, #8224e3) !important;
  }
  
  .nav-thing {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
  }
  
  .nav-thing a {
    text-decoration: none;
    font-size: 12px;
  }
  
  .madison {
    border-radius: 50px;
    width: 100%;
  }
  
  .namebar {
    font-size: 15.75px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
  }
  
  .yapping {
    font-size: 12px;
    color: rgb(0, 0, 0);
  }
  
  .form-center {
    width: 250px;
  }
  
  .custom-form {
    width: 50%;
    margin: auto;
  }
  
  .field::placeholder {
    font-size: 20px !important;
  }
  
  .Meks {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-wrap: nowrap;
  }
  
  .footer {
    margin-top: 50px;
  }
  
  .app {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .formInput {
    display: flex;
    flex-direction: column;
    width: 280px;
    text-align: left;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  label {
    font-size: 12px;
    color: gray;
  }
  
  input:invalid[focused="true"]~span {
    display: block;
  }
  
  .submit {
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    border-radius: 10px;
    height: 50px;
    background-image: linear-gradient(to right top, #9e1e48, #ad1e79, #ad1ea1, #b226d8, #8224e3) !important;
    border: none;
  }
  
  .formInput {
    margin-bottom: 20px;
    position: relative;
  }
  
  .formInput label {
    display: block;
    margin-bottom: 8px;
  }
  
  .formInput input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .formInput input:focus {
    outline: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .app form {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .carousel-indicators {
    margin-left: 19.4%;
  }
  
  .button1 {
    background: linear-gradient(to right top, #9e1e48, #ad1e79, #ad1ea1, #b226d8, #8224e3) !important;
    color: white;
    height: 30px;
    width: 145px;
    border: none;
  }
  
  .button2 {
    color: #6c93c7;
    height: 30px;
    width: 145px;
    background: linear-gradient(white, white, white, white, white) padding-box, linear-gradient(#9e1e48, #ad1e79, #ad1ea1, #b226d8, #8224e3) border-box;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
  }
  
  .carousel-caption {
    bottom: 2.25rem;
  }
  
  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .login-form {
    padding: 30px;
    border-radius: 10px;
    width: 350px;
  }
  
  .form-group {
    margin-bottom: 0px;
    width: 300px;
  }
  
  .login-form h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  input[type='text'],
  input[type='password'] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #8e24aa;
    color: #fff;
    border: none;
    padding: 18px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    
  }
  
  .error-message {
    color: red;
    margin-bottom: 20px;
  }
  
  .error-input {
    border-color: red;
  }
  
  .account {
    font-size: 16px;
    padding-top: 10px;
  }
  
  .input-field {
    width: 100%;
  }

.buttonof{
 width: 250px;
 margin-left: 100px;
}
.textoffpage{
color: #429e1e;
}
.textoff1{
 text-decoration: overline;
 text-size-adjust:inherit;
}
.textone{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.texttwo{
  color: #429e1e;
  width: 200px;
}
.textthree{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}